body{
    background-color: rgb(227, 134, 237);
    color:rgb(247, 244, 246);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    height: 700px;
    margin: 0;
}